<app-intro-title [title]="'category'"></app-intro-title>
<main>
  <div class="home_text">
    <div class="cat_intro_text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dignissim urna purus. Etiam non sagittis enim. Vestibulum justo quam, mattis sit amet tortor in, imperdiet suscipit ante. Donec egestas velit in lectus porttitor feugiat. Pellentesque pharetra dui sapien, id efficitur sem iaculis nec. Cras ornare sem id est condimentum dapibus. In quis sodales feli
    </div>
    <app-col-img50txt50
      [data]=data>
    </app-col-img50txt50>
  </div>
</main>