<app-intro-title 
  [data]=homeIntroBG>
</app-intro-title>

<main>

  <app-sections
    [data]=homeCatTxt>
  </app-sections>

  <app-block-gallery
    [blocksData]=homeGalleryData>
  </app-block-gallery>

  <app-sections
    [data]=homeInspTxt>
  </app-sections>

  <app-block-gallery
    [blocksData]=homeGalleryInspiredData>
  </app-block-gallery>

  <app-related-event
    [relatedContent]=homeGalleryEventData>
  </app-related-event>

</main>

<!--
<app-sections [data]=homeTitleInfo></app-sections>

<app-block-gallery [blocksData]=homeGalleryData></app-block-gallery>
-->