<app-intro-title title="Welcome to Canary Islands" image="https://p.bookcdn.com/data/Photos/r1920x773/7054/705429/705429376/Servatur-Green-Beach-photos-Exterior.JPEG"></app-intro-title>

<main>
  <app-sections
    [data]=homeCatTxt>
  </app-sections>

  <app-block-gallery
    [blocksData]=homeGalleryData>
  </app-block-gallery>

  <app-sections
    [data]=homeInspTxt>
  </app-sections>

  <app-block-gallery
    [blocksData]=homeGalleryInspiredData>
  </app-block-gallery>

  <app-related-event
    [relatedContent]=homeGalleryEventData>
  </app-related-event>

</main>

<!--
<app-sections [data]=homeTitleInfo></app-sections>

<app-block-gallery [blocksData]=homeGalleryData></app-block-gallery>
-->